body {
	color: #7891a3;
	font-weight: bold;
	font-size: 16px;
}


a {
	color: #000;
	font-weight: normal;
}

a:hover {
	color: #000;

}
.container {
	max-width: 960px;
}

.small-text {
	margin-top: 6px;
	font-size: 12px;
}

.italic {
	font-style: italic;
}

.normal-black {
	font-weight: normal;
	color: #000;
}

.no-margins {
	margin: 0px;
	padding: 0px;
}

.kh-logo {
 		background-image: url('../images/logo.png');
 		width: 413px;
 		height: 77px;
    background-size: 413px 77px;
    margin: 25px 0px 35px 0px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;	
}
h1 a {
	font-weight: bold;
	text-decoration: underline;
}

h1.application-description {
	margin-top: 35px;
}

h4 {
	margin-top: 0px;
	font-size: 17px;
}

.current-step {
	margin: 0px 15px 20px 15px;
	padding: 0px;
}

.navigation {
	margin: 0px;
	padding: 0px;
}

.navigation li{
	display: block;
	float: left;
	width: 180px;
	height: 40px;
	line-height: 40px;
	background-color: #c1cacf;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 14px;
	cursor: pointer;
}

.navigation li:hover {
	text-decoration: underline;
}

.navigation li.selected{
	text-decoration: underline;
}

.navigation li.ready{
  background-color: rgb(51, 255, 153);
  box-shadow: 3px 5px 15px 0px rgba(255, 204, 204, 0.8);
}

.send-application {
	  background-color: rgb(229, 239, 246);
	  border: 0px solid;
		-webkit-box-shadow: inset -3px 3px 5px 0px rgba(255, 255, 255, 0.45),
												inset 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow:    inset -3px 4px 5px 0px rgba(255, 255, 255, 0.45),
												inset 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
		box-shadow:         inset -3px 4px 5px 0px rgba(255, 255, 255, 0.45),
											  inset 2px -2px 5px 0px rgba(0, 0, 0, 0.45);
		width: 180px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		font-weight: bold;
		color: #c1cacf;
		text-align: center;
}

.send-application.done {
  background-color: rgb(51, 255, 153);
  color: #000;
    animation-name: done-fader;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
  animation-direction: alternate;

  -webkit-animation-name: done-fader;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: alternate;

  -moz-animation-name: done-fader;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: none;
  -moz-animation-direction: alternate
}

.application-sent {
  background-color: rgb(51, 255, 153);
  box-shadow: 3px 5px 15px 0px rgba(255, 204, 204, 0.8);
  font-size: 12px;
  color: #000;
  font-weight: normal;
  clear: both;
  padding: 8px 12px 8px 12px;
}


.main-form {
	margin-top: 30px;
}

.form-inline .form-group {
	margin-bottom: 25px;
}

.form-inline .form-group.check-box-margin {
	margin-left: 30px;
	width: 100%;
}

.form-inline .form-group.check-box-margin .css-label{
	margin-left: -30px;
}


.form-group label {
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.form-inline .form-control {
  border: 0px solid;
  background-color: rgb(255, 222, 204);
  box-shadow: inset -2px 2px 6px 0px rgba(51, 255, 153, 0.35);
  font-size: 16px;
  font-weight: bold;
  padding: 4px 6px 4px 8px;
  margin-bottom: 4px;
}

.form-inline .form-group.full-width {
	width: 100%;
}
.form-inline .form-group.full-width .form-control {
	width: 100%;
}

.form-inline .form-control[type=checkbox] {
	width: 22px;
	height: 20px;
	display: inline-block;
	margin-left: -28px;
}

.form-inline .button-and-input-row {
	margin-bottom: 5px;
}

.uploaded-file .button {
	vertical-align: bottom;
}

.blue-text {
	color: #1000e8;
	font-size: 17px;
}

.grey-text {
	font-size: 17px;
}


.button {
  background-color: rgb(51, 255, 153);
	font-size: 16px;
	font-weight: bold;
	color: #000;
  border: 0px solid;
	-webkit-box-shadow: inset -3px 3px 5px 0px rgba(255, 255, 255, 0.45),
											inset 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    inset -3px 4px 5px 0px rgba(255, 255, 255, 0.45),
											inset 2px -2px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         inset -3px 4px 5px 0px rgba(255, 255, 255, 0.45)
										  inset 2px -2px 5px 0px rgba(0, 0, 0, 0.45);
	padding: 10px;
	min-width: 200px;

}

.button:hover {
-webkit-box-shadow: inset -3px 3px 2px 0px rgba(255, 255, 255, 0.45),
											inset 2px -2px 2px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    inset -3px 4px 2px 0px rgba(255, 255, 255, 0.45),
											inset 2px -2px 2px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         inset -3px 4px 2px 0px rgba(255, 255, 255, 0.45)
										  inset 2px -2px 2px 0px rgba(0, 0, 0, 0.45);
}

.button.small {
		padding: 8px;
		font-size: 13px;
		min-width: 100px
}

.button.delete {
  background-color: rgb(255, 222, 205);
}
.character-counter {
	color: #ff6666;
	font-size: 12px;
	font-weight: bold;
}

footer {
	margin-top: 60px;
}

footer .top-divider {
	border-top: 1px solid #9eb2c0;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 8px;
}

/* Styles for step 1 */
#sexInput {
	width: 100%;
	min-width: 100px;
}

/* Styles for Step 2 */
.avgift-row {
		margin-bottom: 22px;
}

.avgift-row .form-group {
	display: block;
}

.form-inline .button-and-input-row.top-m-10 {
	margin-top: 10px;
}


.avgift-row  {
	margin-top: 5px;
}

/* Styles for Step 3 */
.behorighet-row {
	margin-bottom: 20px;
}

/* Styles for Step 4 */
.bullet-list-text {
	line-height: 32px;
	margin-bottom: 30px;
}

.ansokan-row {
	margin-bottom: 2px;
}

.ansokan-detail-row {
	display: none;
	border-bottom: 1px solid #9eb2c0;
}

.form-inline .ansokan-row .form-group {
	margin-bottom: 8px;
}
.form-inline .ansokan-detail-row .form-group {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* Styles for Step 5 */

#createdInput {
	width: 100%;
	min-width: 100px;
}
.uploaded-artwork {
	max-width: 300px;
}
.uploaded-artwork-thumb {
	max-width: 110px;
}

.work-description {
	font-size: 12px
}

.top-divider {
	border-top: 1px solid #91a7b6;
	margin-top: 14px;
	padding-top: 14px;
}

.arbetsprov-active .work-description{
	color: #000;
}
.arbetsprov-active h4{
	color: #1000e8;
}

/* Radio and checkbox hack */
input[type=radio].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label, input[type=radio].css-checkbox + label.css-label.clr {
	padding-left:34px;
	min-height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label, input[type=radio].css-checkbox + label.css-label.chk {
	background-image:url('../images/checkbox_checked.png');
	background-repeat: no-repeat;
}

label.css-label {
	background-image:url('../images/checkbox.png');
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
	padding-left:34px;
	min-height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
	background-image:url('../images/checkbox_checked.png');
	background-repeat: no-repeat;
}


@keyframes done-fader {
  0% {
	  background-color: rgb(51, 255, 153);
  }
  100% {
	  background-color: rgb(200, 255,220 );
	  opacity: 0.8;
  }
}

@-webkit-keyframes done-fader {
  0% {
	  background-color: rgb(51, 255, 153);
  }
  100% {
	  background-color: rgb(200, 255,220 );
	  opacity: 0.8;
  }
}

@-moz-keyframes done-fader {
  0% {
	  background-color: rgb(51, 255, 153);
  }
  100% {
	  background-color: rgb(200, 255,220 );
	  opacity: 0.8;

  }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
 	.kh-logo {
 		background-image: url('../images/logoX2.png')
 	}
}